<h1>Welcome <%= @user.first_name %>! Edit Your User Account</h1>
<% if session[:id] == @user.id %>
  <p><a href="/">[ Go Back To Newsfeed ]</a></p>
  <p><a href="/users/<%= @user.id %>">[ Cancel Editing ]</a></p>

  <form id="new_user" action="/users/<%= @user.id %>" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <label for="the_first_name">Update First Name:<br>
      <input type="text" name="first_name" value="<%= @user.first_name %>">
    </label><br>
    <br>
    <label for="the_last_name">Update Last Name:<br>
      <input type="text" name="last_name" value="<%= @user.last_name %>">
    </label><br>
    <br>
    <label for="the_email">Update Email:<br>
      <input type="email" name="email" value="<%= @user.email %>">
    </label><br>
    <label for="the_handle">Update Handle:<br>
      <input type="text" name="handle" value="<%= @user.handle %>">
    </label><br>
    <br>
    <label for="the_bio">Update Bio:<br>
      <textarea name="bio" value="<%= @user.bio %>" rows="4" cols="50"></textarea>
    </label><br>
    <br>
    <input type="submit" value="Edit Your Info!">
  </form>
  <br>
  <br>
  <br>

  <form method="POST" action="/users/<%= @user.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete user account">
  </form>
<% else %>
  <p>You cannot edit an account that's not yours!!!</p>
  <%= erb :"/users/_not_logged_in_not_current_user_error_message", layout: false %>
<% end %>
