<h1>Welcome <%= @user.first_name %></h1>
<a href="/">[ Go Back To Home Page ]</a>
<!-- retrofit for twitter profile page -->
<p>Name:</p>
<p><%= @user.first_name %> <%= @user.last_name %> </p>

<p>Email:</p>
<p><%= @user.email %> </p>

<% if session[:id] === @user.id %>
  <form method="GET" action="/users/<%= @user.id %>/edit">
    <input type="submit" value="Edit Info">
  </form>
  <br>
  <br>
  <br>

  <form method="POST" action="/users/<%= @user.id %>">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="delete user account">
  </form>
<% end %>
