<div class="container">
  <h1>CraigsList Jr.</h1>
  <ul>
    <% @articles.each do |article| %>
      <li><a href="/categories/<%= @category_id %>/articles/<%= article.id %>"> <%= article.name %>  </a> <%= article.counter %>  clicks</li>
    <% end %>
  </ul>


  <form id="new_article" action="/categories/<%= @category_id %>/articles/new" method="get">
    <input type="submit" value="Create New Article">
  </form>
</div>
<br>
<br>
<br>

